.navbar{
    font-size: 18px;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 12;
}

header{
    background-image: url("images/post-bidding.jpg");
    background-position-y: -30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
    padding: 1px;
    color: white;
}

.bg{
    backdrop-filter: blur(3px);
    padding: 1px;
}

h1{
    padding-top: 11rem;
}
/* our team */
.our-team{
    /* margin: 4rem 15rem; */
    text-align: center;
}
.team-intro{
    padding: 3rem 7rem 7rem;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 3rem;
}

.card{
    border: 2px solid black;
    border-radius: 20px;
    margin: 2.5rem;
}

.card-body{
    margin: 2rem;
}

.card-body img{
    width:50px;
}

.title{
    margin: 3rem 0 2rem;
}

hr{
    margin: 1rem;
}

.card-text{
    font-size: 1.7rem;
}

.card-title{
    font-style: italic;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mem-desc{
    padding: 3rem 8rem;
}

/* footer */
footer{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    /* background-image: url("images/foot-bg.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 33%;
}
footer h3{
    padding: 10px 0;
    font-weight: bold;
}
.row{
    display: flex;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333333%;
}
.col-6{
    width: 70%;
}
.col-6-img{
    padding: 9rem 0;
    width: 30%;
    margin-right: 1rem;
}
ul{
    list-style: none;
    /* text-align: center; */
}
footer li{
    padding: 5px 10px;
    font-size: 1.9rem;
}
.email{
    outline: none;
    margin-left: 2rem;
}
label{
    font-size: 1.9rem;
    display: inline-block;
    max-width: 100%;
    margin: 5px;
    font-weight: 500;
    font-size: 1.8rem;
}
.copyright{
    text-align: center;
    padding: 3% 0 0;
    font-size: 15px;
}
footer .logo{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.bgc{
    padding: 2% 2% 1%;
    /* backdrop-filter: blur(10px); */
}
.social-ic{
    text-align: center;
}
.icons{
    width: 45px;
    margin: 1.3rem;
}

.mailto{
    color: #ffffff;
}

.mail{
    border: 2px solid rgb(255, 255, 255);
}