.headers{
    background-image: url(./images/myBids_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.navbar{
    font-size: 18px;
}
.about{
    margin: 10% 10%;
    color: white;
}
.cnth1{
    text-align: center;
    font-weight: 700;
    font-size: xxx-large;
    padding-bottom: 6%;
}
.abstract{
    font-size: x-large;
}
.content{
    margin: 8% 2%;
    border: 5px solid white;
    border-radius: 30px;
    padding: 10% 5% 2%;
    font-size: larger;
    position: relative;
}
.abt-img{
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    padding: auto;
    width: 13%;
    position: absolute;
    top: -16%;
    left: 43%;
}
.abt-img img{
    width: 90%;
    margin: 7px;
    border-radius: 50%;

}
.middle{
    background-image: url(./images/myBids2_bg.jpeg);
    padding: 5% 0;
    width: 100%;
    /* background-color: rgb(200, 233, 255); */
    /* background-color: rgb(227, 241, 255); */
}
/* hr{
    margin: 5% auto 2%;
    border: 10px dotted purple;
    border-bottom: none;
    width: 10%;
} */
h3{
    margin: 4% auto;
    font-size: 5rem;
    /* text-align: center; */
    padding-top: 5% 2% 5%;
    font-weight: bold;
    border-bottom: 3px solid rgb(30, 90, 221);
}

.sci-img{
    width: 100%;
}

.gnm-img{
    padding: 5% 0;
    width: 40%;

}
.cntnr{
    display: flex;
    padding: 3% 7%;
}
.sec{
    width: 100%;
    background-color: #fff;
    /* background-image: linear-gradient(rgb(255, 255, 255), rgb(208, 243, 255)); */
    /* background-color: rgb(208, 243, 255); */
}
.details{
    padding: 0 0 2%;
    font-size: 1.9rem;
    letter-spacing: 1px;
    line-height: 3rem;
}
.butn{
    background-color: rgb(30, 90, 221);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin-top: 30px;
}
.blue-txt{
    color: rgb(30, 90, 221);
}
.intro-img{
    padding: 5% 0;
    width: 40%;
}
.dtl-int{
    padding-right: 5%;
}
.dtl-gnm{
    padding-left: 5%;
}
.points{
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p1, .p2, .p3{
    margin: 1% 1%;
    padding: 2% 13%;
}
.topic{
    color: rgb(30, 90, 221);
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}
.nos{
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    margin-top: 3rem;
    padding: 10px;
}
.hlts{
    width: 75%;
    text-align: center;
    padding-bottom: 10px;
}
footer{
    width: 100%;
    color: black;
    background-color: rgb(255, 255, 255);
    /* background-image: url("images/foot-bg.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 33%;
}
footer h4{
    padding: 10px 0;
    font-weight: bolder;
    font-size: 2.5rem;
}
.row{
    display: flex;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333333333%;
}
.col-6{
    width: 50%;
}
.col-6 img{
    margin-right: 1rem;
}
ul{
    list-style: none;
    /* text-align: center; */
}
footer li{
    padding: 5px 10px;
    font-size: 1.9rem;
}
.email{
    outline: none;
    margin-left: 2rem;
}
label{
    font-size: 1.9rem;
    display: inline-block;
    max-width: 100%;
    margin: 5px;
    font-weight: 500;
    font-size: 1.8rem;
}
.copyright{
    text-align: center;
    padding: 3% 0 0;
    font-size: 15px;
}
footer .logo{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.bgc{
    padding: 5% 5% 1%;
    /* backdrop-filter: blur(10px); */
}
.social-ic{
    text-align: center;
}
.icons{
    width: 45px;
    margin: 1.3rem;
}

  p {
      color: white;
  }

  .thumbnail:hover {
      opacity: 1.00;
      box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 white;
      transition: box-shadow 0.2s;

  }

  .snip1527 {
      box-shadow: 0 0 5px rgba(255, 255, 255);
      color: white;
      float: left;
      font-family: 'Lato', Arial, sans-serif;
      font-size: 16px;
      margin: 10px 1%;
      max-width: 310px;
      min-width: 250px;
      overflow: hidden;
      position: relative;
      text-align: left;
      width: 100%
  }